<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3>Get your factorial</h3>
    <form onsubmit="factorial('val')">
      <p>Enter a number</p>
      <input type="text" name="val">
      <button type="submit">Submit</button>
    </form>
    <%= <div id="res">
    </div>%>
  </body>
</html>